<main>
<section id="projects-section">
<h2>My Projects</h2>
<ul>
    <li>
        <div>
            <h3>Student Management System</h3>
            <p>A full stack web application to manage student records, built using Java (Spring Boot)for backend and Angular for frontend.
             Supports operations like add, view, update, and delete (CRUD) of student data with database integration using MySQL.</p>
            <div class="tech-Skills">
                <span class="tech">Java</span>
                <span class="tech">Spring Boot</span>
                <span class="tech">Angular</span>
                <span class="tech">MySQL</span>
            </div>
            <button><a href="#">View Code</a></button>
        </div>    
    </li>
    <li>
        <div>
            <h3>Personal Portfolio Website</h3>
            <p>A modern, mobile-responsive Single Page Application (SPA) built using Angular.
             It highlights my profile, skills, and projects as a Java Full Stack Developer.
             Designed with clean UI, section-based navigation, and smooth scroll behavior.</p>
             <div class="tech-Skills">
                <span class="tech">Angular</span>
                <span class="tech">HTML</span>
                <span class="tech">CSS</span>
                <span class="tech">Responsive Design</span>
            </div>
            <button><a href="#">View Code</a></button>
        </div>
    </li> 
</ul>
</section>
</main>