<main>
    <section id="about-section">
  <h2>About Me</h2>
  <div class="about">
  <p>
    Hello! I'm <strong>Kowshik</strong>, a passionate and self-driven Java Full Stack Developer. I completed my B.Tech in 2023 and have spent the last 2 years sharpening my skills in Java, Spring Boot, Angular, and building full stack applications.
  </p>
  <p>
    I created this portfolio to showcase my work, my learning journey, and my love for software development. I'm actively looking for opportunities to contribute as a fresher Java developer in a dynamic and growth-oriented team.
  </p>
  <p>
    I’m confident, hardworking, and always ready to learn new technologies to grow as a developer.
  </p>
  </div>
</section>

</main>